[submodule ".config/fish/functions/Bash2FishAliasesSync"]
	path = .config/fish/functions/Bash2FishAliasesSync
	url = https://github.com/d0riven/Bash2FishAliasesSync.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "etc/submodules/apm-sync"]
	path = etc/submodules/apm-sync
	url = https://github.com/amano41/apm-sync.git
