/.config/.mono/
/.config/Microsoft\\VisualStudio Services/
/.config/NuGet/
/.config/stetic/

/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/library.fish
!/.config/fish/fish_variables

/.config/iterm2/
/.config/omf/
/.config/xbuild/

/.vscode/User/History/

/.hammerspoon/
!/.hammerspoon/init.lua

/bin/youtube-dl

test.*
