"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  "autocomplete-python":
    useKite: false
  "browser-plus": {}
  core:
    disabledPackages: [
      "activate-power-mode"
      "git-plus"
      "Hydrogen"
      "imdone-atom"
      "language-clojure"
      "language-coffee-script"
      "language-git"
      "language-go"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-ruby-on-rails"
      "language-ruby"
      "language-rust-bundled"
      "language-sass"
      "language-toml"
      "language-typescript"
      "language-xml"
      "language-yaml"
      "pdf-view"
      "vim-mode-plus"
      "welcome"
    ]
    telemetryConsent: "no"
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "d9eb6ddc-65be-4a4f-b471-c33968e2072e"
  "linter-ui-default": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#0077ff"
      zBright:
        brightBlue: "#0099ff"
    style:
      fontFamily: "Liberation Mono for Powerline"
  welcome:
    showOnStartup: false
".cs.source":
  editor:
    tabLength: 4
